<ng-container *ngIf="{ productResult: productResult$ | async } as config">
  <table class="table table-striped" *ngIf="product">
    <tr>
      <th>
        Product brand
      </th>
      <td>
        {{ product.productBrand }}
      </td>
    </tr>
    <tr>
      <th>
        Product name
      </th>
      <td>
        {{ product.name }}
      </td>
    </tr>
    <tr>
      <th>
        Product view
      </th>
      <td>
        <div class="d-flex">
<!--        <div class="d-flex flex-wrap">-->
          <div class="p-1" *ngFor="let image of product.images">
            <img src="{{ image }}" class="card-img-top" alt="...">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Product description
      </th>
      <td>
        {{ product.description }}
      </td>
    </tr>
    <tr>
      <th>
        OS variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let os of product.osList">
            <button
              [class.btn-light]="os !== config.productResult?.os"
              [class.btn-secondary]="os === config.productResult?.os"
              class="btn"
              (click)="setOs(os)">
              {{ os }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        CPU variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let cpu of product.cpuList">
            <button
              [class.btn-light]="cpu !== config.productResult?.cpu"
              [class.btn-secondary]="cpu === config.productResult?.cpu"
              class="btn"
              (click)="setCpu(cpu)">
              {{ cpu }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        RAM variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let ram of product.ramList">
            <button
              [class.btn-light]="ram !== config.productResult?.ram"
              [class.btn-secondary]="ram === config.productResult?.ram"
              class="btn"
              (click)="setRam(ram)">
              {{ ram }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        SSD variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let ssd of product.ssdList">
            <button
              [class.btn-light]="ssd !== config.productResult?.ssd"
              [class.btn-secondary]="ssd === config.productResult?.ssd"
              class="btn"
              (click)="setSsd(ssd)">
              {{ ssd }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Color variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let color of product.colorList">
            <button
              [class.btn-light]="color !== config.productResult?.color"
              [class.btn-secondary]="color === config.productResult?.color"
              class="btn"
              (click)="setColor(color)">{{ color }}</button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Display resolution variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let displayResolution of product.displayResolutionList">
            <button
              [class.btn-light]="displayResolution !== config.productResult?.displayResolution"
              [class.btn-secondary]="displayResolution === config.productResult?.displayResolution"
              class="btn" (click)="setDisplayResolution(displayResolution)">{{ displayResolution }}</button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Display type variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let displayType of product.displayTypeList">
            <button
              [class.btn-light]="displayType !== config.productResult?.displayType"
              [class.btn-secondary]="displayType === config.productResult?.displayType"
              class="btn" (click)="setDisplayType(displayType)">{{ displayType }}</button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Display size variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let displaySize of product.displaySizeList">
            <button
              [class.btn-light]="displaySize !== config.productResult?.displaySize"
              [class.btn-secondary]="displaySize === config.productResult?.displaySize"
              class="btn"
              (click)="setDisplaySize(displaySize)">{{ displaySize }}</button>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="d-flex flex-column mt-4">
    <div class="p-1">
      <h3>
        Final configuration
      </h3>
    </div>
    <div class="p-1" *ngIf="productResult$ | async as productResult">
      <table class="table table-striped" style="width: 400px">
        <tr>
          <th>OS</th>
          <td>{{ productResult.os }}</td>
        </tr>
        <tr>
          <th>CPU</th>
          <td>{{ productResult.cpu }}</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>{{ productResult.ram }}</td>
        </tr>
        <tr>
          <th>SSD</th>
          <td>{{ productResult.ssd }}</td>
        </tr>
        <tr>
          <th>Color</th>
          <td>{{ productResult.color }}</td>
        </tr>
        <tr>
          <th>Display resolution</th>
          <td>{{ productResult.displayResolution }}</td>
        </tr>
        <tr>
          <th>Display type</th>
          <td>{{ productResult.displayType }}</td>
        </tr>
        <tr>
          <th>Display size</th>
          <td>{{ productResult.displaySize }}</td>
        </tr>
        <tr>
          <th>Result price</th>
          <td>{{ productResult.price }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex flex-column mt-4">
    <button type="button" class="btn btn-primary" [disabled]="!(_form.valid)" (click)="addToCart()">Buy</button>
  </div>
</ng-container>
