<footer class="navbar mt-4 text-center text-lg-start" style="background-color: #87c8f6;">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-10 d-none d-lg-block">
      <span>Інформація про нас:</span>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-0 text-secondary"></i>МІСІЯ
          </h6>
          <p>
            Ми побудуємо вам не дорогі доступні тури в дорогих не легко доступних місцях.
            Не стоїмо на місці! Мандруємо в активному режимі, живемо в не популярних місцях, насолоджуємось не баченою красою!</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            ПОСЛУГИ
          </h6>
          <p>
            <a href="#!" class="text-reset">Підбір туру</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Житло в оренду</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            ТУРИСТАМ
          </h6>
          <p>
            <a href="#!" class="text-reset">Подарункові сертифікати</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Блог</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">КОНТАКТИ</h6>
          <p><i class="fas fa-home me-0 text-secondary"></i> Запоріжжя, Україна</p>
          <p>
            <i class="fas fa-envelope me-0 text-secondary"></i>
            yugo@mail.com
          </p>
          <p><i class="fas fa-phone me-0 text-secondary"></i> + 38 095 555 55 55</p>
          <p><i class="fas fa-print me-0 text-secondary"></i> + 38 097 777 77 77</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: #87c8f6;">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">yugo.com</a>
  </div>
</footer>
