<ng-container *ngIf="cart$ | async as cart">
  <div class="d-flex flex-column">
    <div class="p-1">
      <h4>
        Created at: {{ cart.created | date: "dd mm yyyy" }}
      </h4>
    </div>
    <div class="p-1">
      <h4>
        Price: {{ cart.price }}
      </h4>
    </div>
    <div class="d-flex align-items-center justify-content-around cart-entry mt-2" *ngFor="let entry of cart.entries">
      <div class="p-1">
        <img src="{{ entry.image }}" width="100">
      </div>
      <div class="p-1">
        {{ entry.productBrand }}
      </div>
      <div class="p-1">
        {{ entry.name }}
      </div>
      <div class="d-flex flex-column">
        <div class="p-0">{{ entry.os }}</div>
        <div class="p-0">{{ entry.cpu }}</div>
        <div class="p-0">{{ entry.ram }}</div>
        <div class="p-0">{{ entry.ssd }}</div>
        <div class="p-0">{{ entry.displayResolution }}</div>
        <div class="p-0">{{ entry.displaySize }}</div>
        <div class="p-0">{{ entry.displayType }}</div>
      </div>
      <div class="p-1">
        {{ entry.price }}$
      </div>
      <div class="p-1">
        <div class="input-group">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{ entry.quantity }}">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <div class="p-1 mt-4">
      <button type="button" class="btn btn-primary">Proceed to checkout</button>
    </div>
  </div>
</ng-container>
