<div class="d-flex justify-content-center">
  <div class="p-0">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="email" class="form-label">Реєстрація. Заповніть форму, будь ласка:</label>
        <input type="email" id="email" class="form-control" placeholder="Е-mail" formControlName="username">
      </div>
      <div class="mb-3">
        <input type="password" id="disabledTextInput" class="form-control" placeholder="Пароль від 5 символів" formControlName="password">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn" style="background-color: #46fa6d;" [disabled]="!(isSubmit | async)" (click)="register()">Зареєструватись</button>
      </div>
    </form>
  </div>
</div>
