<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">

  <app-header></app-header>

  <div class="row app-content">
    <div class="col-12 mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>

</div>







<!--<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">-->

<!--  <nav class="navbar navbar-expand-lg bg-body-tertiary" >-->
<!--    <div class="container-fluid" style="background-color: #87c8f6;">-->
<!--      <a class="navbar-brand" href="#">-->
<!--        <img src="https://img.poehalisnami.ua/images/logo_sm_Ua.png" alt="Logo" width="120" height="60" class="d-inline-block align-text-top">-->
<!--      </a>-->
<!--      <a class="navbar-brand">"Очима аборигену"</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--        <ul class="navbar-nav">-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a class="nav-link active" aria-current="page" href="#">Home</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a class="nav-link" href="#">Features</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a class="nav-link" href="#">Pricing</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Країни-->
<!--            </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Швейцарiя</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Iталiя</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Iспанiя</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Францiя</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Шотландiя</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Норвегiя</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="d-flexs account">-->
<!--        <span class="material-symbols-outlined">login</span>-->
<!--        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <div class="row app-content">-->
<!--    <div class="col-12 mt-2">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->

<!--  <footer class="navbar mt-4 text-center text-lg-start" style="background-color: #87c8f6;">-->
<!--    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">-->
<!--      <div class="me-10 d-none d-lg-block">-->
<!--        <span>Інформація про нас:</span>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="">-->
<!--      <div class="container text-center text-md-start mt-5">-->
<!--        <div class="row mt-3">-->
<!--          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->
<!--            <h6 class="text-uppercase fw-bold mb-4">-->
<!--              <i class="fas fa-gem me-0 text-secondary"></i>МІСІЯ-->
<!--            </h6>-->
<!--            <p>-->
<!--              Ми побудуємо вам не дорогі доступні тури в дорогих не легко доступних місцях.-->
<!--              Не стоїмо на місці! Мандруємо в активному режимі, живемо в не популярних місцях, насолоджуємось не баченою красою!</p>-->
<!--          </div>-->
<!--          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->
<!--            <h6 class="text-uppercase fw-bold mb-4">-->
<!--              ПОСЛУГИ-->
<!--            </h6>-->
<!--            <p>-->
<!--              <a href="#!" class="text-reset">Підбір туру</a>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a href="#!" class="text-reset">Житло в оренду</a>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->
<!--            <h6 class="text-uppercase fw-bold mb-4">-->
<!--              ТУРИСТАМ-->
<!--            </h6>-->
<!--            <p>-->
<!--              <a href="#!" class="text-reset">Подарункові сертифікати</a>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a href="#!" class="text-reset">Блог</a>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->
<!--            <h6 class="text-uppercase fw-bold mb-4">КОНТАКТИ</h6>-->
<!--            <p><i class="fas fa-home me-0 text-secondary"></i> Запоріжжя, Україна</p>-->
<!--            <p>-->
<!--              <i class="fas fa-envelope me-0 text-secondary"></i>-->
<!--              yugo@mail.com-->
<!--            </p>-->
<!--            <p><i class="fas fa-phone me-0 text-secondary"></i> + 38 095 555 55 55</p>-->
<!--            <p><i class="fas fa-print me-0 text-secondary"></i> + 38 097 777 77 77</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    <div class="text-center p-4" style="background-color: #87c8f6;">-->
<!--      © 2023 Copyright:-->
<!--      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">yugo.com</a>-->
<!--    </div>-->
<!--  </footer>-->

<!--</div>-->
