<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Транзакції</title>
</head>

<body>
<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header">
            Транзакції :
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Рахунок</th>
                    <th scope="col">№ Рахунку</th>
                    <th scope="col">Власник</th>
                    <th scope="col">Баланс</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${account.getAccountName()}"/>
                    <td th:text="${account.getAccountNumber()}"/>
                    <td th:text="${account.getClient().fullName}"/>
                    <td th:text="${account.getBalance()}"/>
                    <td>
                        <a class="btn btn-dark" th:href="@{'/accounts/delete/' + ${account.id}}"
                           type="button">Видалити </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                                data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                            Витрати
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
                        <div class="accordion-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Сума</th>
                                    <th scope="col">Отримувач</th>
                                    <th scope="col">Рахунок отримувача</th>
                                    <th scope="col">Дата транзакції</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="creditOperation : ${account.getCreditOperations()}">
                                    <td th:text="${creditOperation.getAmount()}"/>
                                    <td th:text="${creditOperation.getRecipientAccount().client.fullName}"/>
                                    <td th:text="${creditOperation.getRecipientAccount().accountName}"/>
                                    <td th:text="${creditOperation.getOperationDate()}"/>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                            Зарахування
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
                        <div class="accordion-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Сума</th>
                                    <th scope="col">Відправник</th>
                                    <th scope="col">Рахунок відправника</th>
                                    <th scope="col">Дата транзакції</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="debitOperation : ${account.getDebitOperations()}">
                                    <td th:text="${debitOperation.getAmount()}"/>
                                    <td th:text="${debitOperation.getSenderAccount().client.fullName}"/>
                                    <td th:text="${debitOperation.getSenderAccount().accountName}"/>
                                    <td th:text="${debitOperation.getOperationDate()}"/>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <td>
                <a aria-disabled="true" class="btn btn-outline-dark btn-back" th:href="@{'/clients/' + ${account.client.id}}"
                   type="button"><<  Повернутися</a>
            </td>
            <td>
                <a aria-disabled="true" class="btn btn-danger"
               th:href="@{'/operations/' + ${account.client.id} + '/' + ${account.id} + '/new'}" type="button">Створити переказ</a>
            </td>
            <br/>
            <br/>
                <a aria-disabled="true" class="btn btn-success btn-lg btn-block" th:href="@{'/accounts/' + ${account.id} + '/export'}"
               type="button">Завантажити історію (csv)</a>
        </div>
    </div>
</div>
</body>
</html>