<!--name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver - подгружаем jdbc.Driver-->
<!--name="hibernate.connection.url">jdbc:mysql://localhost:3306/java_5 - прописываем адрес-->
<!--name="hibernate.connection.username">root-->
<!--name="hibernate.connection.password">123-->
<!--name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect - подсказывем хайбернейт на каком диалекте будет общаться-->
<!--name="hibernate.hbm2ddl.auto">update - обновляем БД (если Create создает новую, СreateDrop - удаляет существующую и создает новую)-->
<!--name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext - бъясняем Хайбернейту кто следит за сессиями, т.е.-->
<!--указываем что конкретный класс будет отвечать за реализацию сессии (connection), в данном случае каждая сессия это новый поток-->
<!--name="hibernate.show_sql">true - будет показывать в консоле хронологию запросов в sql на Хайбернейтовском языке-->
<!--name="hibernate.enable_lazy_load_no_trans">true - т.к ученики подтянуты к факультативам и наоборот, чтоб не было замкнутого круга (ошибки) при расппечатке-->
<!--Хайбер обрубает эту связь (при обращении к коллекции энтитей внутри какой-то энтити), поэтому чтоб распечатать нужен lazy_load - подтянет только одну связь-->

<!--<mapping class="ua.com.alevel.entity.Electives"/> - Объясняем какие классы ему Мапить:-->
<!--<mapping class="ua.com.alevel.entity.Pupils"/>-->



        <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/java_5</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">java</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="ua.com.alevel.entity.Electives"/>
        <mapping class="ua.com.alevel.entity.Pupils"/>
    </session-factory>
</hibernate-configuration>