.navbar-nav {
  margin-right: 0 !important;
}

.user-action {
  margin-left: 1em;

  .account-circle {
    margin-right: 0.5em;
  }
}

.app-content {
  margin-bottom: 4em;
}

app-search {
  width: 100%;
}
